.major{
    display: flex;
    flex-direction: column;
   
    align-items:flex-end ;
    gap: 20px;


   button{
    background-color:rgb(131, 118, 92);
    border-radius: 10px;
    width: 50px;
    color: rgb(255, 255, 255);
   }
}

.title{
    display: flex;
    gap: 20px;
}